#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f8;
  height: 100vh;
  margin: 0;
}
.flex {
  display: flex;
  gap: 20px; /* Space between images */
}
.image-container {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: rotate(-5deg); /* Slight rotation for effect */
}
.image-container:nth-child(2) {
  transform: rotate(5deg); /* Slight rotation for second image */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}